<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid">

  <div class="header">
    <i class="fa-solid fa-bars"></i>
    <span>20th June 2024</span>
    <div class="d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-bell me-2"></i>
      <img class="mb-1" src="../../../assets/kam.jpeg" alt="">
    </div>
  </div>

  <ion-searchbar class="p-0" animated="true" placeholder="Looking for an event?"></ion-searchbar>

  <div class="d-flex align-items-center justify-content-start mb-2">
    <i class="fa-solid fa-circle-chevron-left me-3 fs-3" routerLink="/home-page"></i>
    <h3 class="fw-600 mt-4 mb-4">Categories</h3>
  </div>
  <div class="categories-list mb-5">
    <div class="category-item" routerLink="/categories/movies">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-video" style="color:#c7845a"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Movies</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/games">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-gamepad" style="color:#A397AF"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Games</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/parties">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-champagne-glasses" style="color:#B59C3D"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Parties</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/art">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-palette" style="color:#8F4633"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Art</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/meet">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-handshake" style="color:#A8516E"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Meets</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/music">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-icons" style="color:#2C3E50"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Music</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item" routerLink="/categories/education">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-chalkboard-user" style="color:#5F7143"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Education</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-headset" style="color:#B84F42"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Live Stream</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-medal" style="color:#59656D"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Sports</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-hand-holding-dollar" style="color:#6B336B"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Philanthropic</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">

    <div class="category-item">
      <div class="d-flex justify-content-start align-items-center">
        <div class="icon-box">
          <i class="fa-solid fa-clipboard-question" style="color:#336B6B"></i>
        </div>
        <span class="ms-4 mb-2" style="font-weight: 700; font-size: 20px;">Other</span>
      </div>
      <i class="fa fa-chevron-right mb-2"></i>
    </div>
    <hr class="divider">
    <!-- Repeat other category items here -->
  </div>

  <app-bottom-bar></app-bottom-bar>
</div>
