.container-fluid{
  padding: 30px 20px;
  background-color:#1D1919;
  color:white;
  height: 100%;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header i{
  font-size:29px;
}
.header img{
  border-radius: 50%;
  height: 31px;
  width: 31px;
}
.header span{
  font-weight: 700;
  font-size:20px;
  margin-bottom:2px
}
ion-searchbar{
  width:100%;
  --background:white;
  color:rgb(255, 255, 255);
  margin-top: 30px;
  --border-radius:10px;
  color:black;
  --placeholder-font-weight: 500;
}
.category-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.icon-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  border-radius: 10px;
  padding: 14px 8px;
  width: 70px;
  height: 70px;
}
.icon-box i{
  font-size: 26px;
}
ion-item-divider{
  margin-bottom: 20px;
}
.divider{
  width:100%;
  background-color:white;
  height:2px;
  margin:4px 0px;
  border-radius: 70%;
}
