<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid p-4 pt-5" style="overflow-y: scroll ;background-color: #1D1B1B; color:white; height: 100%;">
  <div class="d-flex justify-content-between align-items-center">
    <i class="fa-solid fa-arrow-left fs-2 mt-1"></i>
    <span style="font-size:22px; font-weight: 600;">Cart</span>
    <i class="fa-solid fa-basket-shopping fs-3"></i>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-5">
    <span style="font-size:18px; font-weight: 600; color: rgba(182, 170, 170, 0.625);"> {{this.cartEvents.length}} items</span>
    <span class="text-danger" style="font-size:18px; font-weight: 500; ">Remove all</span>
  </div>
  <div class="mt-2 mb-4" style="height: 0.1px; background-color: rgba(202, 188, 188, 0.522); border-radius: 100px;"></div>

  <div class="cart-events">

    <div *ngFor="let event of cartEvents" class="cart-event d-flex justify-content-start align-items-start mb-2">
      <img src="{{ event.imageUrl }}" class="me-2 mt-1" alt="">
      <div class="left" style="width: 100%;">
        <div class="d-flex align-items-center justify-content-between">
          <span style="font-weight: 600; font-size: 17px;">{{ event.title }}</span>
          <i class="fa-solid fa-trash-can" (click)="removeEventFromCart(event)"></i>
        </div>
        <div><span style="font-weight: 600;">{{ event.ticket_unit_price }} <span style="font-weight: 300;">TND</span></span></div>
        <div class="mt-2 d-flex justify-content-between align-items-center">
          <span style="font-weight: 600;">{{ calculateTotalPrice(event) }} <span style="font-weight: 300;">TND</span></span>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fa-regular fa-square-plus fs-4" (click)="incrementTickets(event)"></i>
            <div style="height: 30px; width: 30px; border-radius: 6px; background-color: rgba(226, 222, 222, 0.181); font-size: 20px;" class="d-flex justify-content-center align-items-center mx-2">
              <span style="margin-bottom: 4px;">{{ event.selectedTickets }}</span>
            </div>
            <i class="fa-regular fa-square-minus fs-4" (click)="decrementTickets(event)"></i>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="payment">
    <div class="mt-4 mb-4" style="height: 0.1px; background-color: rgba(202, 188, 188, 0.522); border-radius: 100px;"></div>
    <div class="d-flex justify-content-between align-items-center">
      <span style="font-weight: 400; font-size:20px; color:rgba(224, 224, 224, 0.611)">Total: </span>
      <span style="font-weight: 400; font-size:22px">{{ calculateGrandTotal() }}<span style="font-size:20px; font-weight: 600;"> TND</span></span>
    </div>

    <div class="button d-flex justify-content-center mt-5">
      <i class="fa-solid fa-money-check me-2 fs-5 mt-1"></i>
      <span class="fs-5" style="font-weight: 500;">Proceed to payment</span>
    </div>
  </div>


</div>
