<div class="container-fluid p-3" style="overflow-y: scroll; padding-top: 60px!important;">
  <!-- Header Section -->
  <div class="header">
    <div>
      <span style="font-size: 27px; font-weight: 700;">Discover events</span>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-bell me-2"></i>
      <img class="mb-1" src="../../../assets/kam.jpeg" alt="">
    </div>
  </div>

  <!-- Form Section for Search -->
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>

  <!-- Featured Events Section -->
  <div class="featured-section mt-5">
    <div class="d-flex justify-content-start align-items-center mb-5">
      <i class="fa-solid fa-circle-arrow-left fs-3 me-3" routerLink="/search"></i>
      <h3 class="my-0 fs-2">Art events</h3>
      <div></div>
    </div>

    <!-- Container for featured events with horizontal scrolling -->
    <div class="featured-container">
      <!-- Loop through the events and display them horizontally -->
      <div *ngFor="let event of events" class="featured-event" [style.background-image]="'url(\'../../../assets/ev' + (event.id % 2 + 1) + '.png\')'">
        <div class="d-flex justify-content-between align-items-center">
          <div class="catg"><span>{{ event.category }}</span></div>
          <div class="icon-container">
            <i class="fa fa-heart"></i>
          </div>
        </div>
        <div class="bot-card">
          <p class="m-0">{{ event.title }}</p>
          <span>{{ event.date | date:'dd MMMM yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Bar Component -->
  <app-bottom-bar></app-bottom-bar>
</div>
