.container-fluid{
  padding: 30px 20px;
  background-color:#1D1919;
  color:white;
  height: 100%;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header i{
  font-size:29px;
}
.header img{
  border-radius: 50%;
  height: 31px;
  width: 31px;
}
.header span{
  font-weight: 700;
  font-size:20px;
  margin-bottom:2px
}
ion-searchbar{
  width:100%;
  --background:white;
  color:rgb(255, 255, 255);
  margin-top: 30px;
  --border-radius:10px;
  color:black;
  --placeholder-font-weight: 500;
}
.featured-event{
  border-radius: 12px;
  padding: 5px 7px
}
.catg{
  border-radius:16px;
  padding:2px 14px;
  font-size:12px;
  background-color:white;
  color:black;
  font-weight:600
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.181);
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: 6px;
}
.featured-event{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 6px;
  max-width: 48%;
  background-size: cover;
  min-height: 100px;
  aspect-ratio: 16 / 9
}
.bot-card p{
  font-weight: 700;
  font-size: 13px;
}
.bot-card span{
  font-weight: 400;
  font-size: 14px;
}
.featured-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:8px;
  margin-bottom:30px
}

