.fa-bars, .fa-bell{
    font-size: 26px;
  }
  .fa-circle-plus{
    font-size:22px
  }
  .account{
    border-radius: 12px;
    margin:8px 10px;
    width:min(44%,200px);
    height:200px;
    background-color: #544D4D;
    padding:10px 10px
  }
  
  .account img{
    border-radius: 12px;
  }
  
  .fa-trash-can, .fa-pencil, .fa-pen-to-square{
    font-size:20px
  }
  
  .top-account-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-container{
    text-align: center;
  }
.container{
  background-color: #1D1919;
}  